body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#container {
    width: 960px;
    margin: 0 auto;
}

header {
    background-color: #ccc;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#search {
    display: flex;
    align-items: center;
}

#search input[type="text"] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#search button {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

nav {
    background-color: #ccc;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
}

section {
    display: flex;
}

#content {
    width: 70%;
}

#form {
    width: 30%;
    padding-left: 20px;
}

aside {
    width: 30%;
    padding-left: 20px;
}

footer {
    background-color: #ccc;
    padding: 10px;
}

/* styles.css */

.background-image {
    background-image: url('C:\Users\admin\Downloads\hk2 2024\htcnw\20073701_HuynhTanDat_9\hinh\z5191322125219_76cad1671c6a3ca41b72032e9e5f26f4.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px;
}

